<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "~/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Hello @ViewBag.Name!</h1>
    <h1>Here are some delicious foods!</h1>

    @{
        List<string> Foods = new List<string>(){"Apple Pie", "Pizza", "Cinnamon Roll", "Lasagna", "Donuts", "Chocolate Cake", "Burritos", "Churro"};
        
        foreach(string word in Foods){
           if(word[0] == 'C'){
            <p style = "color: red;">@word</p>
           }
           else{
            <p>@word</p>
           }
        };
    }
</body>
</html>