<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "~/css/style.css">
    <title>Document</title>
</head>
<body>
    <nav class = "navBar">
         <a href="/">Home</a>
        <span> | </span>
        <a href="/projects">Projects</a>
        <span> | </span>
        <a href="/contact">Contact</a>
    </nav>
    <container class= "Info">
        <div class = "RightWindow">
            <img src = "~/css/IMG_1369.jpeg" alt = "selfie">
            <h5>Brett Currier</h5>
            <p>Growing programmer and fun guy</p>
        </div>
        <div class = "LeftWindow">
            <ul>
                <lh>Stuff About Me</lh>
                <li>Born and raised in Indiana</li>
                <li>Born in the 80's</li>
                <li>Chess enthusiast</li>
                <li>Lover of Tolkien's Middle-earth lore</li>
            </ul>
        </div>
    </container>
</body>
</html>