.navBar{
    display: flex;
    justify-content: space-around;
    font-size: 25px;
}
.info{
    display: flex;
   
    
}
.info{
    display: flex;
    flex-direction: row-reverse;
   
    
}

.RightWindow{
    display: flex;
    flex-direction: column;
    align-items: center;
  height: 20%;
  width: 20%;
    flex: 1;
}
.LeftWindow{

    flex: 1;
}


img {  
    height: 75%;
    width: 75%  
    }  

