.navBar{
    display: flex;
    justify-content: space-around;
    font-size: 25px;
}
.info{
    display: flex;
    justify-content: center;
   
    
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
    
}

.RightWindow{
    margin-left: 125px;
    margin-top: 125px;
    display: inline-block;
    align-content: center;
  height: 20%;
  width: 20%;
    flex: 2;
}
.LeftWindow{
    align-content: center;
    display: inline-block;
    flex: 1;
}


img {  
    height: 75%;
    width: 75%  
    }  

.AboutMeList{
    font-size: 30px;
}

lh{
    text-decoration: underline ;
}

